body {
  font-family: Questrial, Futura !important;
  letter-spacing: 0.02em !important;
}

p {
  margin: 0 !important;
  font-size: 1.75rem;
}

input.form-control {
  font-size: 1.25rem;
}

.form-check-label {
  font-size: 1.25rem;
}

button.btn {
  font-size: 1.25rem;
}

.bg-grey {
  background-color: #343a40;
}

.bg-blue {
  background-color: #194567;
}

.btnx-cyan {
  background: var(--bs-cyan);
  border: 2px solid var(--bs-cyan);
}

.hover {
  cursor: pointer;
}

.hover:hover {
  opacity: 0.9;
}

.money-box {
  border: double 5px white;
  background: #194567;
}

.calculation-box {
  padding: 0.5em 10px;
  border: solid 2px white;
  background: #194567;
  color: white;
}
